/* Features */

// mobile styles
.features__title {
    display: none;
}

.features__background-icon {
    background-color: var(--secondary-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
}

.features__item {
    max-width: 450px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.features__undertitle {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    text-align: center;    
    color: var(--secondary-text-color);

    margin-bottom: 10px;
}

.features__text {
    line-height: calc(24 / 14);
}

    // tablet styles
    @media screen and (min-width: 768px) {
        
        .features__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        
        .features__item {
            width: 354px;

            &:not(:last-child) {
                margin-bottom: 0px;
            }
        }
        
        .features__undertitle {
            text-align: left;
        }     
    }  
    
    // desctop styles
    @media screen and (min-width: 1200px) {
    
    .features__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    
    .features__item {
        width: 270px;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

