.hero {
    background-color: var(--hero-footer-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    // mobile screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/studio-opt/hero_sm-@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/studio-opt/hero_sm-@2x.jpg);
    }

    // tablet screen
    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/studio-opt/hero_md-@1x.jpg);
      
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/studio-opt/hero_md-@2x.jpg);
        }
      }
      
    // desctop screen
    @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio-opt/hero_lg-@1x.jpg);
  
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/studio-opt/hero_lg-@2x.jpg);
    }
  }



    height: 400px;
    min-width: 320px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    position: relative;

    @media screen and (min-width: 768px) {
        min-width: 768px;
    }

    @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;         
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
   
    min-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    @media screen and (max-width: 479px) {
      font-size: 20px;
      line-height: calc(32 / 20);

      min-width: 0px;
      max-width: 360px;
  }

    @media screen and (min-width: 768px) {
        margin-right: 204px;
        margin-left: 204px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: calc(60 / 44); 
        min-width: 696px;
        margin-right: 252px;
        margin-left: 252px;       
    }
}

.hero__btn {
    padding: 10px 24px;
    min-width: 200px;

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
        min-width: 216px;
    }
}
