.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-color);
}

.logo__dark {
    color: var(--black-color);
}

.logo__light {
    color: var(--primary-white-color);
}