// * Team */
.team {
    background-color: var(--secondary-bg-color);
}

.team__title {
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        } 

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;   
    }      
}

.team__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.team__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px var(--modal-team-first), 0px 1px 1px var(--modal-team-second), 0px 2px 1px var(--modal-team-third);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    
        max-width: 450px; 
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }
}

.team__undertitle {
    @media screen and (max-width: 1199px) {
        padding-bottom: 24px;
        padding-top: 30px;
        }   
    
    @media screen and (min-width: 1200px) {
        padding: 30px;   
    }
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--secondary-text-color); 

    margin-bottom: 10px;  
}

.team__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center; 

    margin-bottom: 16px; 
}

.team__link {
    background-color: var(--primary-white-color);
    color: var(--icons);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }
}
